* {
  margin  : 0;
  padding : 0;
  overflow: hidden;
}

#containter {
  position: relative;
}

#particles-js {
  bottom             : 0;
  width              : 100%;
  height             : 100vh;
  background-color   : #0d1814;
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: 50% 50%;
}

.menuicon {
  font-weight: bold;
  position   : absolute;
  top        : -1px;
  left       : 14px;
  color      : #f0ffc7;
  font-size  : 8.5vh;
}

/*
#menu {
  position     : absolute;
  top          : 40vh;
  left         : -15px;
  right        : 0;
  border       : 2.5px solid rgb(0, 24, 18);
  text-align   : center;
  border-radius: 5px;
  color        : #f0ffc7;
  background   : rgb(0, 99, 4);
  background   : linear-gradient(0deg, rgb(43, 95, 0) 0%, rgb(0, 49, 2) 100%);
  padding      : 15px;
  width        : 2vw;
  height       : 20vh;
}
*/

h1 {
  position             : absolute;
  top                  : 2vh;
  left                 : 0;
  right                : 0;
  margin-left          : auto;
  margin-right         : auto;
  color                : #f0ffc7;
  font-family          : 'Carter One', cursive;
  font-size            : 13vh;
  text-align           : center;
  -webkit-touch-callout: none;
  -webkit-user-select  : none;
  -khtml-user-select   : none;
  -moz-user-select     : none;
  -ms-user-select      : none;
  user-select          : none;
}

h2 {
  color      : #f0ffc7;
  font-family: 'Carter One', cursive;
  font-size  : 5vh;
}

#facebook {
  bottom  : 8px;
  right   : 16px;
  position: absolute;
}

#discord {
  bottom  : 8px;
  left    : 16px;
  position: absolute;
}

@media screen and (max-width: 481px) {

  .menuicon {
    font-weight: bold;
    position   : absolute;
    top        : -1px;
    left       : 5px;
    color      : #f0ffc7;
    font-size  : 8vh;
  }

  h1 {
    color                : #f0ffc7;
    position             : absolute;
    top                  : 7vh;
    left                 : 0;
    right                : 0;
    margin-left          : auto;
    margin-right         : auto;
    font-family          : 'Carter One', cursive;
    font-size            : 15vw;
    text-align           : center;
    -webkit-touch-callout: none;
    -webkit-user-select  : none;
    -khtml-user-select   : none;
    -moz-user-select     : none;
    -ms-user-select      : none;
    user-select          : none;
  }

  h2 {
    color      : #f0ffc7;
    font-size  : 5vw;
    font-family: 'Carter One', cursive;
    text-align : center;
  }

  #social {
    font-size: 6vw;
  }

  #facebook {
    bottom  : 10px;
    right   : 10px;
    position: absolute;
  }

  #discord {
    bottom  : 10px;
    left    : 10px;
    position: absolute;
  }
}