h1{
	color: white;
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	text-align:center;
}

body{
background-image: url('https://i.imgur.com/TrUnmjk.jpeg');
background-repeat: no-repeat;
background-size: cover;"
}